.photos {
    background: $background-color;
}

/*.photos-list__item {
    padding: 1rem;
    background: $award-item-color;
    border-radius: .5rem;
    margin-bottom: 3rem;
}
.awards-list__item.awards-list__item--color {
    background: $award-item-even-color;
}*/
.img-container {
    height: 250px;
    width: 100%;
}
.photo-item {
    height: 100%;
    width: 100%;
}