@font-face {
  font-family: "open-sans-reg";
  src: url('../../fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
  url('../../fonts/Regular/OpenSans-Regular.woff') format('WOFF'),
  url('../../fonts/Regular/OpenSans-Regular.eot') format('embedded-opentype'),
  url('../../fonts/Regular/OpenSans-Regular.svg')format('svg');
}
@font-face {
  font-family: "open-sans-bold";
  src: url('../../fonts/Bold/OpenSans-Bold.ttf') format('truetype'),
  url('../../fonts/Regular/OpenSans-Bold.woff') format('WOFF'),
  url('../../fonts/Regular/OpenSans-Bold.eot') format('embedded-opentype'),
  url('../../fonts/Regular/OpenSans-Bold.svg')format('svg');
}