$brand-orange: #e06523;
$brand-hover-orange:  rgba(126, 86, 63, 0.67);
$primary-white: #fff;
$text-dark-blue: #323639;
$secondary-dark-blue: #3b434c;
$dots-dark-orange: #ac704f;
$header-opacity-black: rgba(0, 0, 0, 0.9);
$primary-opacity-white: rgba(226, 221, 218, 0.87);
$background-light-grey: #ece9db;
$award-item-green: #8ecd76;
$award-item-even-orange: #e69424;

$brand-color: $brand-orange;
$brand-hover-color: $brand-hover-orange;
$primary-color: $primary-white;
$text-color: $text-dark-blue;
$secondary-color: $secondary-dark-blue;
$slider-dots-color: $dots-dark-orange;
$header-opacity-color: $header-opacity-black;
$primary-opacity-color: $primary-opacity-white;
$background-color: $background-light-grey;
$award-item-color: $award-item-green;
$award-item-even-color: $award-item-even-orange;