.head {
    text-align: center;
    margin: 0 auto 4rem;

    h2 {
        margin-bottom: 1.5rem;
    }

    &.head--width {
        max-width: 100rem;
    }

    &.head--margin {
        margin-bottom: 1rem;
    }
}
